.image{
    background: url(daraxt.jpg)no-repeat top center;
    background-position: center;
    width: 1000px;
    height: 1000px;

}
h1{
    margin: 10px; ;
    padding: 50px;
    text-align: center;
    color: bisque;
}
h3{
    margin: 12px;
    padding: 60px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align:no-repeat top center;
color: bisque;
}
h2{
    text-align:center;
    color: bisque;
}